
nav.p-4.glass.font-medium
  div.max-w-screen-lg.mx-auto.flex.flex-row.justify-between
    include logo 

    button.block(type="button" class="lg:hidden")
      i.fas.fa-bars.fa-2x

    div.flex.items-center(class="hidden lg:flex")
      .navbar-nav.list-none.flex.flex-row.space-x-5
        each link in pageLinks.slice(1, pageLinks.length)
          - var isActive = currentPage === link.name
          li.nav-item
            a.nav-link(href=link.href class="hover:text-purple" class={ "text-purple": isActive })= link.name
            if isActive
              span.sr-only (actual)